[*.{sh,bash,bats}]
indent_style = space
indent_size = 2
switch_case_indent = true
binary_next_line = true
space_redirects = false

# Extensionless shell scripts in bin/
[terminator/bin/*]
indent_style = space
indent_size = 2
switch_case_indent = true
binary_next_line = true
space_redirects = false

# Dotfile shell configs (.bashrc, .bash_profile)
[terminator/config/.bash{rc,_profile}]
indent_style = space
indent_size = 2
switch_case_indent = true
binary_next_line = true
space_redirects = false
