home/**                             category=home
terminator/**                       category=source
terminator/test/**                  category=test
test/**                             category=test
vendor/**                           category=vendor
terminator/bin/symlink-cleaner      language=bash
terminator/bin/tmux-help            language=bash
terminator/bin/tmux-session-create  language=bash
terminator/bin/tmux-version         language=bash
terminator/config/.bash_profile     language=bash
terminator/config/.bashrc           language=bash
*.sh                                language=bash
*.bash                              language=bash
*.bats                              language=bats
