[color]
  ui = true
[color "branch"]
  current = bold green
  local = bold yellow
  remote = bold red
[color "diff"]
  frag = magenta bold
  old = bold red
  new = bold green
  whitespace = white reverse
[color "status"]
  added = bold green
  changed = bold red
#  untracked = cyan reverse
#  branch = magenta
